@tailwind base;
@tailwind components;
@tailwind utilities;

@import url("https://fonts.googleapis.com/css2?family=Rubik");

:root {
  --scroller: #777777;
  --scroller-bg: #191919;
  color-scheme: dark;
}

html,
body {
  margin: 0;
  padding: 0;
  background: var(--scroller-bg);
  font-family: "Rubik", sans-serif;
}

.markdown img {
  max-width: 100%;
  max-height: 25rem;
}

/* ===== Scrollbar CSS ===== */
/* Firefox */
* {
  scrollbar-width: auto;
  scrollbar-color: var(--scroller) var(--scroller-bg);
  -webkit-tap-highlight-color: transparent;
}

/* Chrome, Edge, and Safari */
*::-webkit-scrollbar {
  width: 12px;
}

*::-webkit-scrollbar-track {
  background: var(--scroller-bg);
}

*::-webkit-scrollbar-thumb {
  background-color: var(--scroller);
  border-radius: 10px;
  border: 3px solid var(--scroller-bg);
}

*::-webkit-scrollbar-corner {
  background: rgba(0, 0, 0, 0);
}

.hidden-scroller::-webkit-scrollbar {
  opacity: 0;
  scrollbar-width: none;
  height: 0px;
  width: 0px;
}
.hidden-scroller {
  scrollbar-width: thin;
}
.hidden-scroller::-webkit-scrollbar-thumb {
  background: transparent;
}
.hidden-scroller::-webkit-scrollbar-track {
  background: transparent;
}

@keyframes RotatingBackgroundAnimation {
  0% {
    background-position: 0px 0px;
  }
  100% {
    background-position: 100% 0px;
  }
}

.bg-rotate {
  animation: RotatingBackgroundAnimation 60s infinite linear;
}

@keyframes GrowOnMountAnimation {
  0% {
    max-height: 0;
  }
  100% {
    max-height: 50vh;
  }
}

.grow-on-mount {
  animation: GrowOnMountAnimation 1s forwards;
  animation-fill-mode: forwards;
}

@keyframes ComeFromBottomAnimation {
  0% {
    transform: translateY(100%);
    opacity: 0;
  }
  100% {
    transform: translateY(0);
    opacity: 1;
  }
}

.come-from-bottom {
  animation: ComeFromBottomAnimation 0.5s forwards;
  animation-fill-mode: none;
  animation-timing-function: ease;
}
